{% extends "base.html" %}
{% block content %}

<style>.terms-container {
  font-family: 'Open Sans', sans-serif;
  color: #262626;
}

.terms-title h1{
  font-family: "RobotoCondensed-Bold";
  text-align: center;
  font-weight: bold;
  letter-spacing: 10px;
}

.terms-body h4 {
  color: #EB573D;
  font-size: 14px;
  line-height: 25px;
}

.terms-body h3{
  font-family: "RobotoCondensed-Bold";
  color: #262626;
  font-weight: bold;
  text-align: left;
  font-size: 20px;
}

.terms-body p{
  font-size: 15px;
  line-height: 25px
}

.terms-body a{
  color: #EB573D;
}

.terms-body a:hover{
  color: #EB573D;
  text-decoration: none;
}

.terms_footer h3 {
  margin-top: 60px;
  margin-bottom: 125px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 1.5;
  color: #262626;
}

.terms_footer h3 a:link {
  color: #EB573D;
  text-decoration: none;
}
</style>


<main class="header-offset content-wrapper about-wrapper">
  <div class="terms-container">
    <div class="row m-2">
      <div class="col-sm-12  ">
        <section class="terms-title">
          <h1>Terms &amp; Conditions</h1>
          <hr>
        </section>

        <div class="terms-body">
          <hr>
          <h3>Introduction</h3>
          <p>
            Welcome to our website. These Terms and Policy govern your use of our website and its associated services. By accessing or using our website, you agree to comply with these Terms and Policy. If you do not agree with any part of these terms, please refrain from using our website.
          </p>
          <hr>
          <h3>Intellectual Property</h3>
          <p>All content on this website, including but not limited to text, images, graphics, logos, and videos, is the intellectual property of our company and is protected by applicable copyright and trademark laws. You may not use, reproduce, modify, or distribute any content from our website without our prior written consent.
          </p>
          <hr>
          <h3>Disclaimer</h3>
          <p>While we strive to provide accurate and up-to-date information on our website, we do not warrant the completeness, reliability, or accuracy of the content. The information provided on this website is for general informational purposes only and should not be relied upon as professional advice. We disclaim any liability for any errors or omissions in the content of this website.</p>

          <hr>
          <h3>Links to Third-Party Websites</h3>
          <p>
            Our website may contain links to third-party websites for your convenience. We do not endorse or assume any responsibility for the content or practices of these third-party websites. Accessing and using these third-party websites is at your own risk, and you should review their respective terms and policies.
          </p>
          <hr>
          <h3>Limitation of Liability </h3>
          <p>
            In no event shall we be liable for any direct, indirect, incidental, consequential, or punitive damages arising out of or in connection with your use of our website or the information provided on it. We shall not be liable for any damages resulting from the use or inability to use our website, including but not limited to damages for loss of profits, data, or other intangible losses.
          </p>
          <hr>
          <h3>Privacy Policy</h3>
          <p>
            We are committed to protecting your privacy. Our Privacy Policy outlines how we collect, use, and disclose your personal information. By using our website, you consent to our collection and use of your personal information as described in our Privacy Policy.
          </p>
          <hr>
          <h3>Changes to Terms and Policy</h3>
          <p>We reserve the right to update or modify these Terms and Policy at any time without prior notice. Any changes will be effective immediately upon posting on this website. It is your responsibility to review these terms periodically for any updates or changes.</p>
          <hr>
          <h3>Shipping & Delivery</h3>
          <p>
            For all orders within North America, please allow approximately 14 business days from the time a campaign ends (please note this is different from the time of purchase) to receive your order.

For all international orders, please allow approximately 21 business days from the time a campaign ends (please note this is different from the time of purchase) to receive your order.

You will receive an email from The Main Label when your order has been confirmed.

If you still have not received your purchase after the above mentioned times, please notify <a href="email">customerservice@themainlabel.com</a>.


            <!-- FOOTER -->
<div class="container terms_footer"> <h3>Can't find what you're looking for? <a href="/contact">Contact us</a></h3>
</div>

</div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</main>


{% endblock %}